/* Header */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc; /* Update border style */
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.nav-items > ul > li:hover {
    color: #FB3C69
}

.nav-items > ul > li:hover , .logo-container:hover{
    transition: all 0.03s ease;
    transform: scale(1.09); /* Increase size on hover */
}

.logo-container{
    cursor: pointer;
}

.logo {
    width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 20%;
}

.nav-items > ul{
    display: flex;
}

.nav-items > ul > li {
    margin : 15px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}

.login-btn {
    padding: 6px 12px;
    font-size: 14px;
    border: 2px solid #f02e65;
    background-color: #f02e65;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 15px; /* Add space between the last nav item and the button */
  }
  
  .login-btn:hover {
    background-color: #fc4a1a;
  }

/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Add Swiggy's font or a similar one */
}

.sfbtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.search-container{
    display: flex;
    align-items: center;
    margin: 10px;
}

.search-container input[type="text"] {
    flex: 1;
    margin: 2px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-container input[type="text"]:focus {
    border-color: #ec1c24;
}

.search-btn {
    margin-left: 5px;
    padding: 10px;
    background-color: #fc4a1a;
    color: white;
    font-size: 10px;
    border: 1px solid #ec1c24;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-btn:hover {
    background-color: #fff;
    color: #ec1c24;
}

.filter-btn {
    text-align: center;
    margin: 20px;
  }
  
  .filter-btn button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #f02e65;
    background-color: #f02e65;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .filter-btn button:hover {
    background-color: #fc4a1a;
  }

/*Restaurant Component*/
.res-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #f0f0f0;
    justify-content: center;
    
}

.res-card > img{
    width: 100%;
    max-height: 150px;
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
    border-top-left-radius: 5px; /* Adding rounded corners to the image */
    border-top-right-radius: 5px;
}

.res-card {
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    transition: all 0.03s ease;
    background: #fff;
    border-radius: 8px;
    overflow: hidden; /* Ensure content doesn't overflow */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for elevation */ 
    display: flex;
    flex-direction: column ;
}

.res-card h3 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2; /* Adjust line height for better readability */
}

.res-card h4 {
    margin-top: 5px;
    font-size: 12px;
    color: #666; /* Adjust text color */
    line-height: 1.2; /* Adjust line height for better readability */
}

.res-card:hover{
    border: 1px solid #dadada;
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Add a box shadow for elevation */
}

/* Shimmer Component */

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    background: #f0f0f0;
    width: 200px;
    min-height: 250px;
    margin: 10px;
    padding: 10px;
}

.user-card{
    padding: 10px;
    border: 1px solid red;
    max-width: 360px;
}

.user-card > img {
    border-radius: 50%;
    height: 100px;
}